<% provide(:title, "About") %>
<h1> Welcome to Codeology! </h1>

<h3> Are you feeling the imposter syndrome? Are you struggling in technical interviews? Don't worry, UC Berkeley computer science can be really tough... we've been there. In fact, you and I are not the only ones who have gone through this, there are many students out there that feel the same way. Which is exactly why we started Codeology. </h3>

<h3> At Codeology, we are building a supportive community that brings together computer science students. But, we aren't like other communities on campus. We don't talk about our internship offers from google or how we took 5 techinical courses and got all A's in them. We are a community where you can be honest with your peers and be open to talking about your struggles and how you got rejected from your interviews. Because these failures are okay. But more importantly, they are temporary. Which brings me to my next point. </h3>

<h3> Success is right in front of you, but it will take some work. This is where we come to help! We are a group of experienced computer science students dedicated to providing our community with interactive and personalized education that is geared towards technical interviews and professional development. We prepare weekly lectures, mock interviews, and various tips and resources. </h3>

<h3> Here, you can be yourself, learn, and become a better you. So what are you waiting for? Come join the community! </h3>



