<!-- STYLE SHEETS -->

<!-- LOADING SCREEN -->
<div id="loader">
</div>


<!-- PHOTO CAROUSEL -->
<section id="carousel" class="extra-top-padding">
	<div class="scroller kinetic-active"> 
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/1.jpg", :alt=>"project image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/2.jpg", :alt=>"project image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/3.jpg", :alt=>"project image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/4.jpg", :alt=>"project image", :class=>"carousel-image") %>
		</div>
	</div>
</section>


<!-- VALUES -->
<section id="about-us" class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-10 is-offset-1">
				<h2 class="title is-2 has-text-black">Our Values</h2>
				<div class="columns">
					<div class="column is-one-third">
						<h5 class="subtitle is-5 has-text-black">EXPLORATION</h5>
						<p>Our project leaders provide students with the opportunity 
						to get hands on experience while our industry workshops provide exposure
						through working professionals.
						</p>
					</div>
					<div class="column is-one-third">
						<h5 class="subtitle is-5 has-text-black">EDUCATION</h5>
						<p>Members lead practice interview sessions and professional 
						development workshops to help each other further their education.
						</p>
					</div>
					<div class="column is-one-third">
						<h5 class="subtitle is-5 has-text-black">COMMUNITY</h5>
						<p>We reward kindness and taking action in order to foster an enjoyable
						and motivated culture that encourages the sharing of ideas.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- MEMBERS-->
<section id="members" class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-10 is-offset-1">
				<h2 class="title is-2 has-text-black">Members</h2>
				<p> Whoops! We'll be updating this page once photoshoots are finished </p>
			</div>
		</div>
	</div>
</section>

<!-- ALUMNI -->
<section id="alumni" class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-10 is-offset-1">
				<h2 class="title is-2 has-text-black">Alumni</h2>
				<p> Whoops! We'll be updating this page once photoshoots are finished </p>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(document).ready(function(){
		var mouseDown = (('ontouchstart' in window) || (navigator.msMaxTouchPoints > 0));

		if (!mouseDown) {
			$(".scroller").kinetic();
		}
	});
</script>