<!-- STYLE SHEETS -->

<!-- LOADING SCREEN -->
<div id="loader">
</div>

<!-- ABOUT US -->
<section id="about-us"; class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-10 is-offset-1">
				<h2 class="title is-2 has-text-black">About Us</h2>
			</div>
		</div>
	</div>
</section>

<!-- MEMBERS-->
<section id="members"; class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-10 is-offset-1">
				<h2 class="title is-2 has-text-black">Members</h2>
			</div>
		</div>
	</div>
</section>