<!-- STYLE SHEETS -->

<!-- LOADING SCREEN -->
<div id="loader">
</div>

<!-- Application Landing -->
<section class="hero extra-top-padding">
  <div class="hero-body">
    <div class="container">
      
      <div class="columns">
        <div class="column is-10 is-offset-1 has-text-centered">
          <h1 class="title is-2 has-text-black">
            Apply For Codeology
          </h1>
          <h2 class="subtitle is-4 has-text-black">
            <br>
            Applications will close on August 31st. We're excited to see your applications!
          </h2>

          <a class="is-size-4 has-text-weight-bold" href="https://goo.gl/forms/L7gzaXF7oDiMn7O43">I'm applying!</a>
        </div>
      </div>

      <div class="columns is-multiline is-centered">
        <div class="column is-10 has-text-centered">
          <h2 class="subtitle is-6 has-text-black">
          <br>
          Good Luck :)
          </h2>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image">
              <%= image_tag("cat_1.jpg", :alt=>"placeholder officer image", :class=>"") %>
              </figure>
            </div>
          </div> 
        </div>
      </div>

    </div>
  </div>
</section>

    