<!-- STYLE SHEETS -->
<% provide(:title, "Codeology | Apply") %>

<!-- Application Landing -->
<section class="extra-vertical-padding">
  <div class="container">

    <div class="row">
      <div class="col s12 has-text-centered">
        <h1 class="is-size-1 is-size-2-mobile">
          Applications for Fall 2019 are now over.
        </h1>
        <h2 class="is-size-3 is-size-4-mobile">
          <br>
          <!--
              Applications to be released soon!
          -->
          We hope you consider applying to Codeology next semester! Please check back in Spring 2020.
        </h2>

        <!--
        -->
        <!-- <a class="is-size-4  " href="https://forms.gle/BD5VomPEVLYNCTP77">Apply!</a> -->
      </div>
    </div>


    <div class="row">
      <div class="col s12 has-text-centered">
        <h2 class="is-size-5 is-size-6-mobile">
        <br>
        Thank you!
        </h2>
      </div>
      <div class="col s4 offset-s4">
        <div class="card">
          <div class="card-image large">
            <%= image_tag("codeology_logo_padded.png", :alt=>"placeholder officer image", :class=>"") %>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
