<!-- STYLE SHEETS -->
<% provide(:title, "Codeology | Apply") %>

<!-- Application Landing -->
<section class="extra-vertical-padding">
  <div class="container">

    <div class="row">
      <div class="col s12 has-text-centered">
        <h1 class="is-size-1 is-size-2-mobile">
          Apply For Codeology
        </h1>
        <h2 class="is-size-3 is-size-4-mobile">
          <br>
          Applications are due Thursday Jan. 31st at 11:59 PM!
        </h2>

        <!---->
        <a class="is-size-4  " href="https://docs.google.com/forms/d/e/1FAIpQLSfmjSYV2K5NVr3iaG3IU75lyGmwq4dgRZ-_eHXt0vdhlRttkg/viewform">Apply!</a>
      </div>
    </div>

    <div class="row">
      <div class="col s12 has-text-centered">
        <h2 class="is-size-5 is-size-6-mobile">
        <br>
        Cat wishes you luck! :)
        </h2>
      </div>
      <div class="col s4 offset-s4">
        <div class="card">
          <div class="card-image large">
            <%= image_tag("cat_1.jpg", :alt=>"placeholder officer image", :class=>"") %>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
