<!-- STYLE SHEETS -->
<% provide(:title, "Codeology | Apply") %>

<!-- Application Landing -->
<section class="extra-vertical-padding">
  <div class="container">

    <div class="row">
      <div class="col s12 has-text-centered">
        <h1 class="is-size-1 is-size-2-mobile">
          Applications for Spring 2020 are here!
        </h1>

        <a class="is-size-4" href="http://bit.ly/appcody" target="_blank">Apply Here!</a>

        <h2 class="is-size-3 is-size-4-mobile">
          <br>
          <!--
              Applications to be released soon!
          -->
          We hope you consider applying to Codeology this semester! Also look for our table on Sproul or our marketing posts on social media!
        </h2>

      </div>
    </div>


    <div class="row">
      <div class="col s12 has-text-centered">
        <h2 class="is-size-5 is-size-6-mobile">
        <br>
        Let us know if you have any questions!
        </h2>
      </div>
      <div class="col s4 offset-s4">
        <div class="card">
          <div class="card-image large">
            <%= image_tag("codeology_logo_padded.png", :alt=>"placeholder officer image", :class=>"") %>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
