<!-- STYLE SHEETS -->
<head>
	<title>Codeology | Calendar</title>
</head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112912344-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112912344-1');
</script>

<!-- Calendar Landing -->
<section class="hero extra-vertical-padding">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1 has-text-centered">
          <h1 class="title is-2 has-text-black">
            Our Calendar
          </h1>
          <h2 class="subtitle is-5 has-text-black">
            Codeology hosts workshops taught by its veteran members and industry workers to provide
            our community with the opportunity to explore the tech space and to hone their professional
            skills.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Calendar Elements -->
<section class="section">
  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column is-12 has-text-centered">
        <h2 class="title is-2 has-text-black">Upcoming Events</h2>
        <iframe class="calendar" src="https://calendar.google.com/calendar/embed?src=berkeley.edu_56kqrap61dpjkk0d8u2hh51na8%40group.calendar.google.com&ctz=America%2FLos_Angeles&mode=month"></iframe>
      </div>
    </div>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="columns is-multiline">

          <div class="column is-half-tablet is-one-third-desktop">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <h5 class="project-card-title title is-5 has-text-black">Applicant Interviews</h5>
                  </div>
                </div>
                <div class="content">
                  <p class="project-card-subtitle subtitle is-6 has-text-black">Sept 3 - Sept 5</p>
                </div>
              </div>
            </div>
          </div>


					<div class="column is-half-tablet is-one-third-desktop">
						<div class="card">
							<div class="card-content">
								<div class="media">
									<div class="media-content">
										<h5 class="project-card-title title is-5 has-text-black">Tech Talk With Samsara</h5>
									</div>
								</div>
								<div class="content">
									<p class="project-card-subtitle subtitle is-6 has-text-black">Sept 11 8-9:30pm @ Barrows 20</p>
									<p class="project-card-subtitle subtitle is-6 has-text-black">* Free food!</p>
								</div>
							</div>
						</div>
					</div>

          <div class="column is-half-tablet is-one-third-desktop">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <h5 class="project-card-title title is-5 has-text-black">Explore Tech Roles: An Indeed Infosession</h5>
                  </div>
                </div>
                <div class="content">
                  <p class="project-card-subtitle subtitle is-6 has-text-black">Sept 13 8-9pm @ Moffit 106</p>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- END OF NESTED COLUMNS -->
      </div> <!-- END OF COLUMN is-10 -->
    </div> <!-- END OF OUTER COLUMNS -->
  </div>
</section>
