<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112912344-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112912344-1');
</script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">

<!-- Calendar Landing -->
<section class="hero extra-top-padding">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1 has-text-centered">
          <h1 class="title is-2 has-text-black">
            Events
          </h1>
          <h2 class="subtitle is-5 has-text-black">
            Codeology hosts workshops taught by its veteran members and industry workers to provide 
            our community with the opportunity to explore the tech space and to hone their professional
            skills. 
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Calendar Element -->
<section class="section">
  <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <h2 class="title is-2 has-text-black">Upcoming Events</h2>
          <p> Whoops! We'll be updating this page once our schedule is finalized </p>
        </div>
        <!--
        <iframe src="https://calendar.google.com/calendar/embed?src=berkeley.edu_56kqrap61dpjkk0d8u2hh51na8%40group.calendar.google.com&ctz=America%2FLos_Angeles&mode=week" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        -->
      </div>
  </div>
</section>