<!-- STYLE SHEETS -->
<% provide(:title, "Codeology | Calendar") %>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112912344-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112912344-1');
</script>

<!-- Calendar Landing -->
<section class="extra-vertical-padding">
  <div class="container">
    <div class="row">
      <div class="col s12 has-text-centered">
        <h1 class="is-size-1 is-size-2-mobile">
          Our Calendar
        </h1>
        <p class="is-size-4 is-size-5-mobile">
          Codeology hosts workshops taught by its veteran members and industry workers to provide
          our community with the opportunity to explore the tech space and to hone their professional
          skills.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Calendar Elements -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 has-text-centered">
        <h2 class="is-size-1 is-size-2-mobile">Upcoming Events</h2>
        <iframe class="calendar" src="https://calendar.google.com/calendar/embed?src=berkeley.edu_486jses64vmi3phhaft6hvlg5s%40group.calendar.google.com&ctz=America%2FLos_Angeles"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="row">

          <div class="col s6 m4 l3">
            <div class="card">
              <div class="card-content">
                    <p class="is-size-4">Projects Phase II</p>
                <div class="content">
                  <p class="is-size-6">Oct 29th</p>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- END OF NESTED COLUMNS -->
      </div> <!-- END OF COLUMN is-10 -->
    </div> <!-- END OF OUTER COLUMNS -->
  </div>
</section>
