<% provide(:title, "Home") %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">

<!-- Landing Section -->
<div class="landing">
    <div class="container-fluid" id="landing-content">
        <div class="row justify-content-center align-items-center">
            <h1 class="landing-title">Codeology.</h1>
        </div>
        <div class="row justify-content-center align-items-center">
            <h5 class="landing-blurb">Here at Codeology, we provide opportunities for you to explore the tech industry in the context of a supportive community. Whether your interest lies in engineering software, conceptualizing designs, or managing product direction, we offer interview preparation and workshops to help you hone your professional skills.</h5>
        </div>
        <div class="row justify-content-center align-items-center">
            <a href="#about-us" class="landing-button landing-button-text" id="landing-button-transition">Learn More</a>
        </div>
    </div>
</div>

<!-- Introduction Section -->
<div class="container-fluid" id="about-us">
    <div class="row">
        <div class="col-sm-12 justify-content-center align-items-center">
            <h3 class="sub-header small-caps">What Do We Do?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="container-fluid" id="intro-section">
                <div class="row justify-content-start">
                    <p class="intro-header codeology-yellow small-caps">1. Interview Prep</p>
                </div>
                <div class="row">
                    <p class="intro-blurb">We provide weekly lessons during our club meetings to help members strengthen their computer science fundamentals in order to improve their technical interview skills. Our leadership team also hosts office hours outside of meeting times to provide additional support. Furthermore, our website pairs up members and alumni so that members can practice mock interviewing.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="container-fluid" id="intro-section">
                <div class="row justify-content-start">
                    <p class="intro-header codeology-green small-caps">2. Workshops</p>
                </div>
                <div class="row">
                    <p class="intro-blurb">Throughout the semester, we plan workshops centralized around a specific topic to provide career guidance and further expose our members to the tech industry.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="container-fluid" id="intro-section">
                <div class="row justify-content-start">
                    <p class="intro-header codeology-blue small-caps">3. Social Events</p>
                </div>
                <div class="row">
                    <p class="intro-blurb">At Codeology, we pride ourselves in not only our academics, but also our tight community. We make it our goal to make everyone feel like they're a part of the family by taking our members out on retreats, social outings, and more!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Values Section -->
<div class="container-fluid" id="values">
    <div class="row">
        <div class="col-sm-12 justify-content-center align-items-center">
            <h3 class="sub-header small-caps">Values</h3>
        </div>
    </div>

</div>


<script>
$(document).ready(function () {

        $('#landing-button-transition').click(function () {

            var href = $(this).attr('href');

            $('html, body').animate({ scrollTop: $(href).offset().top - 150 }, 1000);

            return false;

        });

});
</script>
