<% provide(:title, "Home") %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">

<!-- Landing Section -->
<div class="landing">
    <div class="container-fluid" id="landing-content">
        <div class="row justify-content-center align-items-center">
            <h1 class="landing-title">Codeology.</h1>
        </div>
        <div class="row justify-content-center align-items-center">
            <h5 class="landing-blurb">Here at Codeology, we provide opportunities for you to explore the tech industry in the context of a supportive community. Whether your interest lies in engineering software, conceptualizing designs, or managing product direction, we offer interview preparation and workshops to help you hone your professional skills.</h5>
        </div>
        <div class="row justify-content-center align-items-center">
            <a href="#about-us" class="landing-button landing-button-text" id="landing-button-transition">Learn More</a>
        </div>
    </div>
</div>

<!-- Introduction Section -->
<div class="container-fluid" id="about-us">
    <div class="row">
        <div class="col-sm-12 justify-content-center align-items-center">
            <h3 class="sub-header small-caps">What Do We Do?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="container-fluid" id="intro-section">
                <div class="row justify-content-start">
                    <p class="intro-header intro-interviewprep small-caps">1. Interview Prep</p>
                </div>
                <div class="row">
                    <p class="intro-blurb">We provide weekly lessons during our club meetings to help members strengthen their computer science fundamentals in order to improve their technical interview skills. Our leadership team also hosts office hours outside of meeting times to provide additional support. Furthermore, our website pairs up members and alumni so that members can practice mock interviewing.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="container-fluid" id="intro-section">
                <div class="row justify-content-start">
                    <p class="intro-header intro-workshops small-caps">2. Workshops</p>
                </div>
                <div class="row">
                    <p class="intro-blurb">Throughout the semester, we plan workshops centralized around a specific topic to provide career guidance and further expose our members to the tech industry.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="container-fluid" id="intro-section">
                <div class="row justify-content-start">
                    <p class="intro-header intro-social small-caps">3. Social Events</p>
                </div>
                <div class="row">
                    <p class="intro-blurb">At Codeology, we pride ourselves in not only our academics, but also our tight community. We make it our goal to make everyone feel like they're a part of the family by taking our members out on retreats, social outings, and more!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Values Section -->
<div class="container-fluid" id="values">
    <div class="row">
        <div class="col-sm-12 justify-content-center align-items-center">
            <h3 class="sub-header small-caps">Values</h3>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-4">
      <div class="middle-line-right">
        <div class="row">
          <div class="center-div">
            <div class="col-sm-12">
              <div class="circle" id="mentorship-circle-color"> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row values-text">
        <div class="center-div values-spacing">
          <p class="values-header mentorship">MENTORSHIP</p>
          <p class="value-description">Alumni and older members are here to give students personal, academic, and professional guidance.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="middle-line-both">
        <div class="row">
          <div class="center-div">
            <div class="col-sm-12">
              <div class="circle" id="education-circle-color"> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="center-div values-spacing">
          <p class="values-header education">EDUCATION</p>
          <p class="value-description">Members lead study groups, practice interview sessions, and professional development workshops to help each other further their education.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="middle-line-left">
        <div class="row">
          <div class="center-div">
            <div class="col-sm-12">
              <div class="circle" id="community-circle-color"> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="center-div values-spacing">
          <p class="values-header community">COMMUNITY</p>
          <p class="value-description">We reward kindness and taking action in order to foster an enjoyable and motivated culture that encourages the sharing of ideas.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Leadership Team Section -->
<div class="container-fluid">
    <h3 class="sub-header small-caps">Leadership Team</h3>
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-1">
          <div class="card pt-2">
            <img class="catherine-img" src="catherine.jpg"></img>
            <div class="container">
              <h3>Catherine Chang</h3>
              <p >Co-Founder &amp; President</p>
              <p>Product Design &amp; Strategy Intern <br/> @ The Climate Corporation </p>
              <p><b>Year</b>: Senior</p>
              <p><b>Interest</b>: Dog memes, Ice Cream, Piano</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-1">
          <div class="card pt-2">
            <img class="albert-img" src="albert.jpg"></img>
            <div class="container">
              <h3>Albert Hu</h3>
              <p>Alumni Relations Chair</p>
              <p> Software Engineer @ Magoosh</p>
              <p><b>Year</b>: Class of 2016</p>
              <p><b>Interest</b>: Blockchain, Bouldering, Relationship counseling for friends</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-1">
          <div class="card pt-2">
            <img class="tim-img" src="tim.jpg"></img>
            <div class="container">
              <h3>Timothy Hsu</h3>
              <p>Co-Founder &amp; Vice President</p>
              <p>Software Engineering Intern @ Zendesk </p>
              <p><b>Year:</b> Senior</p>
              <p><b>Interest:</b> Badminton, Hiking, Making videos</p>
            </div>
          </div>
        </div>
    <div class="col-lg-3 col-md-6 mb-1">
      <div class="card pt-2">
        <img class="tracy-img" src="tracy.jpg"></img>
        <div class="container">
          <h3>Tracy Chen</h3>
          <p>Education Coordinator</p>
          <p> Software Engineering Intern @ Amazon </p>
          <p><b>Year:</b> Senior</p>
          <p><b>Interest:</b> Coffee, Cats, <br/> Seafood</p>
        </div>
      </div>
      </div>
        <div class="col-lg-3 col-md-6 mb-1">
          <div class="card pt-2">
            <img class="edward-img" src="edward.jpg">
            <div class="container">
              <h3>Edward Qiu</h3>
              <p>Web Development Chair</p>
              <p> Web Developer @ <br/> Haas School of Business</p>
              <p><b>Year:</b> Sophomore</p>
              <p><b>Interest:</b> Running, Cycling, Reading <br/> </p>
            </div>
          </div>
      </div>
    <div class="col-lg-3 col-md-6 mb-1">
      <div class="card pt-2">
        <img class="nikita-img" src="nikita.jpg"></img>
        <div class="container">
          <h3>Nikita Gupta</h3>
          <p>Finance Chair</p>
          <p> CS Kickstart RA &amp; Lab Instructor &amp; CS61A Staff Member </p>
          <p><b>Year:</b> Sophomore</p>
          <p><b>Interest:</b> Teaching, Traveling, Civic tech <br/> </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-1">
      <div class="card pt-2">
        <img class="franklin-img" src="franklin.jpg"></img>
        <div class="container">
          <h3>Franklin Heng</h3>
          <p>Web Development Chair</p>
          <p>Researcher @ Video and Image Processing Lab</p>
          <p><b>Year:</b> Senior</p>
          <p><b>Interest:</b> UFC, Mexican Food, Beach</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function () {

        $('#landing-button-transition').click(function () {

            var href = $(this).attr('href');

            $('html, body').animate({ scrollTop: $(href).offset().top - 150 }, 1000);

            return false;

        });

});
</script>
