<% provide(:title, "Home") %>
<script src="https://use.fontawesome.com/e97bfa3b0a.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<!-- Cover Photo Section -->
<div class="coverpage">
  <div class="background-overlay">
  </div>
</div>
<div class="cover-text">
  <div class="row justify-content-center align-items-center">
    <h1 class="welcome-message"> Codeology </h1>
  </div>
  <div class="row justify-content-center align-items-center">
    <h2 class="top-paragraph"> /kōd äləjē/</h2>
  </div>
  <div class="row justify-content-center align-items-center">
    <h3 class="codeology-blurb">
      the study of problem-solving
    </h3>
  </div>
</div>

<!-- Values Section -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 justify-content-center align-items-center">
      <h3 class="sub-header"><font size="36">VALUES</font></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="middle-line-right">
        <div class="row">
          <div class="center-div">
            <div class="col-sm-12">
              <div class="circle" id="yellow-circle"> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row values-text">
        <div class="center-div">
          <p class="mentorship" align="center">MENTORSHIP</p>
          <p class="value-par" align="center">Alumni and older members are here to give students personal, academic, and professional guidance.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="middle-line-both">
        <div class="row">
          <div class="center-div">
            <div class="col-sm-12">
              <div class="circle" id="green-circle"> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="center-div values-text">
          <p class="education" align="center">EDUCATION</p>
          <p class="value-par" align="center">Members lead study groups, practice interview sessions, and professional development workshops to help each other further their education.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="middle-line-left">
        <div class="row">
          <div class="center-div">
            <div class="col-sm-12">
              <div class="circle" id="blue-circle"> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row values-text">
        <div class="center-div">
          <p class="community" align="center">COMMUNITY</p>
          <p class="value-par" align="center">We reward kindness and taking action in order to foster an enjoyable and motivated culture that encourages the sharing of ideas.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sponsors Section -->
<div style="padding:100px 16px" id="sponsors">
  <h3 class="sub-header"><font size="36">SPONSORS</font></h3>
  <a href="https://www.climate.com/" target="_blank">
    <div id="climate-corp"></div>
  </a>
  <div style="margin-bottom: 100px;"></div>
</div>

<!-- Members Section -->
<h3 class="sub-header"><font size="36">LEADERSHIP TEAM</font></h3>

<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <h1 class="center" id="leader_name"></h1>
  </div>
  <div class="row justify-content-center align-items-center">
    <h2 class="center" id="leadership_team_label"></h2>
  </div>
  <div class="team-members">
    <div class="svg-canvas">
      <%= render "d3_graphs/leadership_team"%>
    </div>
  </div>
</div>
