
<!-- STYLE SHEETS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">

<!-- LOADING SCREEN -->
<div id="loader">
</div>

<section id="landing"; class="hero has-fixed-navbar is-fullheight landing is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
			<h1 class="landing-title has-text-white">Codeology.</h1>
					<h5 class="landing-blurb is-size-3 is-size-3-tablet is-size-6-mobile has-text-white">Here at Codeology, we provide opportunities for you to explore the tech industry in the context of a supportive community. Whether your interest lies in engineering software, conceptualizing designs, or managing product direction, we offer interview preparation and workshops to help you hone your professional skills.</h5>
					<a href="#about-us" class="button-fade is-size-3 is-size-5-mobile" id="landing-button-transition">Learn More</a>	
        </div>
    </div>
	<div class="hero-foot"></div>
</section>
