<% provide(:title, "Home") %>
<meta name="google-site-verification" content="QFnKlIoSssBp0lO6N1Vv7k-naWkoNtFhWtt9HrQD4uA" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://use.fontawesome.com/e97bfa3b0a.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
body,h1, h2,h3,h4,h5,h6 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: normal;
  color: #373F46
  src: local('Karla'), local('Karla-Regular'),
       url('../fonts/karla-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/karla-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

p {
  margin-top: 40px;
}
body, html {
    height: 100%;
    line-height: 1.8;
}
</style>

<body>
  <!-- About Section -->
  <div class="coverpage">
    <div class="container-fluid" style="padding:100px 16px" id="about">
      <center>
        <h1 class="welcome-message"> Codeology </h1>
      </center>
      <h3 class="top-paragraph"> UC Berkeley computer science can be really tough... we've been there. In fact, you and I are not the only ones who have gone through this, there are many students out there that feel the same way. Which is exactly why we started Codeology.</h3>

      <div class="container" style="padding:200px 16px" id="team">
        <h3 class="sponsors"><font size="36">OUR VALUES</font></h3>
      </div>
      <div class="row-padding center">
        <div class="element"> </div>
        <div id= "movers-row">
          <div class="yellow-circle">
            <div class="greycircle"> </div>
            <p class="mentorship">MENTORSHIP</p>
            <p class="value-par"> We provide each member with a codeology mentor that can guide students in all areas. </p>
          </div>
      </div>
      <div id= "movers-row">
        <div class="green-circle">
          <div class="greycircle"> </div>
          <p class="education">EDUCATION</p>
          <p class="value-par"> We are a group of experienced computer science students dedicated to providing our community with interactive and personalized education that is geared towards technical interviews and professional development. </p>
        </div>
      </div>
      <div id= "movers-row">
        <div class="blue-circle">
            <div class="greycircle"> </div>
            <p class="community">COMMUNITY</p>
            <p class="value-par"> We are building a supportive community that enables members to cultivate their personal and professional skills. </p>
    </div>
  </div>
</div>

  <!-- Sponsors Section -->
  <div class="container" style="padding:200px 16px" id="sponsors">
    <h3 class="sponsors"><font size="36">OUR SPONSORS</font></h3>
    <div class="sponsor-image"> </div>
  </div>

   <!-- Members Section -->
   <div class="sponsors"><font size="36">OUR MEMBERS</font></div>
</body>
