<% provide(:title, "Home") %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">

<!-- Cover Photo Section -->
<div class="landing">
    <div class="container-fluid" id="landing-content">
        <div class="row justify-content-center align-items-center"> 
            <h1 class="landing-title">Codeology.</h1>
        </div>
        <div class="row justify-content-center align-items-center">
            <h5 class="landing-blurb">Here at Codeology, we provide opportunities for you to explore the tech industry in the context of a supportive community. Whether your interest lies in engineering software, conceptualizing designs, or managing product direction, we offer interview preparation and workshops to help you hone your professional skills.</h5>
        </div>
        <div class="row justify-content-center align-items-center">
            <a href="#valuez" class="landing-button landing-button-text" id="landing-button-transition">Learn More</a>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {

        $('#landing-button-transition').click(function () {

            var href = $(this).attr('href');

            $('html, body').animate({ scrollTop: $(href).offset().top - 150 }, 1000);

            return false;

        });

});
</script>