<!-- STYLE SHEETS -->
<% provide(:title, "Codeology | Projects") %>

<!-- Projects Landing -->
<section class="extra-vertical-padding">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1 class="has-text-centered is-size-1-tablet is-size-2-mobile">
          Projects
        </h1>
        <p class="flow-text" style="line-height:1.5;">
          Codeology is introducing projects as a way to provide our members with hands-on experience.
          Projects groups are led by experienced members within our community.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- PROJECTS -->
<section id="projects" class="section">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<p><span class="is-size-3 is-size-4-mobile">Projects</span><br>
        <span class="is-size-4 is-size-5-mobile">Fall 2018</span></p>
				
        <div class="row">
          <% @projects.each do |element| %>
            <div class="col s12 m4">
              <div class="card medium">
                <div class="card-image project-card-image">
                  <%= image_tag(element[:imgurl], :alt=>"project image", :class=>"image", :style=>"object-fit:cover;") %>
                </div>
                <div class="card-content">
                    <p class="is-size-5"><%= element[:name] %></p>
                    <p class="is-size-6"><%= element[:blurb] %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
			</div>
		</div>
	</div>
</section>
