<!-- STYLE SHEETS -->
<% provide(:title, "Codeology | Projects") %>

<!-- LOADING SCREEN -->
<div id="loader">
</div>

<!-- Projects Landing -->
<section class="hero extra-vertical-padding">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1 has-text-centered">
          <h1 class="title is-2 has-text-black">
            Projects
          </h1>
          <h2 class="subtitle is-5 has-text-black">
            Codeology is introducing projects as a way to provide our members with hands-on experience.
			Projects are led by experienced members within our community.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- PROJECTS -->
<section id="projects" class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-10 is-offset-1">
				<h2 class="title is-2 has-text-black">Projects</h2>
				<h2 class="subtitle is-4 has-text-black">Fall 2018</h2>
        <div class="columns is-multiline">
          <% @projects.each do |element| %>
            <div class="column is-one-third">
              <div class="card">
                <div class="card-image project-card-image">
                  <%= image_tag(element[:imgurl], :alt=>"project image", :class=>"image") %>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <h5 class="project-card-title title is-5 has-text-black"><%= element[:name] %></h5>
                    </div>
                  </div>

                  <div class="content">
                    <p class="project-card-subtitle subtitle is-6"><%= element[:blurb] %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
			</div>
		</div>
	</div>
</section>
