<!-- STYLE SHEETS -->

<!-- LOADING SCREEN -->
<div id="loader">
</div>

<!-- PROJECTS -->
<section id="about-us"; class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-10 is-offset-1">
				<h2 class="title is-2 has-text-black">Projects</h2>
			</div>
		</div>
	</div>
</section>