<!-- STYLE SHEETS -->

<!-- LOADING SCREEN -->
<div id="loader">
</div>

<!-- PROJECTS -->
<section id="about-us" class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-10 is-offset-1">
				<h2 class="title is-2 has-text-black">Projects</h2>
				<h2 class="subtitle is-4 has-text-black">Fall 2018</h2>
				<p> Whoops! We'll be updating this page once projects are finalized </p>
			</div>
		</div>
	</div>
</section>