<% provide(:title, "Recruitment") %>
<div class="row">
  <h1>Under construction...</h1>
</div>

<div class="row">
  <div class="spacer">
    <p>
      Soon, you'll be able to find updates about how to join the club! For now,
      follow our Facebook page for event updates: <a href="https://www.facebook.com/berkeleycodeology/">Berkeley Codeology</a>
    </p>
  </div>
</div>
