<% provide(:title, "Team") %>
<!-- Team Section -->
<div class="rectangle2">
  <div class="container" style="padding:460px 16px" id="team">
    <h1 class="center" id="leader_name">Codeology Leadership Team</h1>
    <h2 class="center" id="leadership_team_label">Click to view their roles!</h2>
    <div class="team-members">
      <div>
        <%= render "d3_graphs/leadership_team"%>
      </div>
    </div>
  </div>
</div>
