<% provide(:title, "Codeology | Password Reset") %>

<section id="sign-in" class="hero">
  <div class="hero-body" id="login-box">
    <div class="columns is-centered">
      <div class="column is-6">
        <h2 class="title is-2   extra-top-padding">Password Reset</h2>

        <%= form_for(:password_reset, url: password_resets_path) do |f| %>
          <div class="field">
            <p class="control has-icons-left">
              <%= f.email_field :email, placeholder: 'email', class: 'input is-rounded' %>
              <span class="icon is-small is-left">
                  <i class="fa fa-lg fa-envelope-o"></i>
              </span>
          </p>
          </div>
         
          <%= f.submit "Submit", class: "button is-rounded", style: "margin-top: 10px;"%> 
          <p class="signup-link">New user? <%= link_to "Sign up now!", signup_path %></p>
        <% end %>


      </div>
    </div>
  </div>
</section>