<% provide(:title, "Name of User") %>
<h1>My Profile</h1>
<<<<<<< HEAD
<p><%= current_user.name %></p>
<p><%= current_user.email %></p>
=======
<p>Displays user's information here</p>
>>>>>>> parent of cfadf9c... displaying user's name and email on profile page
