<section class="section">
  <div class="container is-fluid has-text-centered">
    
    <h2 class="subtitle is-size-6 has-text-black">Codeology Activation</h2>
    <p class="has-text-black"> 
      Hi <%= @user.name %>!
      Thanks for registering! To confirm your registration click the URL below. If you
      did not sign up for a Codeology account, please ignore this email. 
    </p>
    
    <%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
  </div>
</section>