<% title = "Codeology | Interview Feedback With " + @other_user.name %>
<% provide(:title, title) %>

<section class="section">
  <div class="container is-fluid">
    <h3 class="small-vertical-padding has-text-centered">Interviewed <%if @is_interviewee%>by <%else%><%end%> <%= @other_user.name %></h3>
    <h5 class="subtitle is-4   has-text-centered">
      Language: <% if @past_interview.is_python %>Python<% else %>Java<% end %><br>
      Location: <% if @past_interview.is_videocall %>Videocall<% else %>On Campus<% end %>
    </h5>
    
    <div class="columns is-centered">
      <div class="column is-10">

        <div class="tabs is-medium is-toggle is-toggle-rounded is-centered">
          <ul>
            <li onclick="toggleByMe()" id="by_me_tab" class=""><a><span>Feedback By Me</span></a></li>
            <li><%= link_to 'Update Feedback', edit_past_interview_path(@past_interview) %></li>
            <li onclick="toggleForMe()" id="for_me_tab" class="is-active"><a><span>Feedback About Me</span></a></li>
          </ul>
        </div>

        <% if @is_interviewee %>
          <div class="card" id="for_me">
        <% else %>
          <div class="card" id="by_me" style="display:none;">
        <% end %>
          <div class="card-content">
            
            <div class="media">
              <div class="media-content">
                <p class="subtitle is-6">How were <%if @is_interviewee%>my<%else%>their<%end%> technical skills?</p>
              </div>
            </div>
            <div class="content">
              <% @past_interview.technical_score.times do %>
                <span class="icon">
                  <i class="fa fa-lg fa-star"></i>
                </span>
              <% end %>
            </div>
            <hr>
            <div class="media">
              <div class="media-content">
                <p class="subtitle is-6">How was <%if @is_interviewee%>my<%else%>their<%end%> problem solving ability?</p>
              </div>
            </div>
            <div class="content">
              <% @past_interview.problem_solving_score.times do %>
                <span class="icon">
                  <i class="fa fa-lg fa-star"></i>
                </span>
              <% end %>
            </div>
            <hr>
            <div class="media">
              <div class="media-content">
                <p class="subtitle is-6">What about <%if @is_interviewee%>my<%else%>their<%end%> communication ability?</p>
              </div>
            </div>
            <div class="content">
              <% @past_interview.communication_score.times do %>
                <span class="icon">
                  <i class="fa fa-lg fa-star"></i>
                </span>
              <% end %>            </div>
            <hr>
            <div class="media">
              <div class="media-content">
                <p class="subtitle is-6"><%if @is_interviewee%>Their feedback to help me<%else%>My feedback to help them<%end%> get better!</p>
              </div>
            </div>
            <div class="content" style="font-family: 'Courier New', Courier, monospace;">
              <%= @past_interview.feedback_interviewee %>
            </div>
          </div>
        </div>
        
        <% if @is_interviewee %>
          <div class="card" id="by_me" style="display:none;">
        <% else %>
          <div class="card" id="for_me">
        <% end %>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="subtitle is-6">How excited would <%if @is_interviewee%>I be to work with them<%else%>they be to work with me<%end%>?</p>
              </div>
            </div>
            <div class="content">
              <% @past_interview.excitement_score.times do %>
                <span class="icon">
                  <i class="fa fa-lg fa-star"></i>
                </span>
              <% end %>
            </div>
            <hr>
            <div class="media">
              <div class="media-content">
                <p class="subtitle is-6">How good were <%if @is_interviewee%>their<%else%>my<%end%> questions?</p>
              </div>
            </div>
            <div class="content">
              <% @past_interview.question_score.times do %>
                <span class="icon">
                  <i class="fa fa-lg fa-star"></i>
                </span>
              <% end %>
            </div>
            <hr>
            <div class="media">
              <div class="media-content">
                <p class="subtitle is-6">How helpful  <%if @is_interviewee%>where they<%else%>was I<%end%> 
                in guiding <%if @is_interviewee%>me<%else%>them<%end%> to the solution(s)?</p>
              </div>
            </div>
            <div class="content">
              <% @past_interview.helpfulness_score.times do %>
                <span class="icon">
                  <i class="fa fa-lg fa-star"></i>
                </span>
              <% end %>
            </div>
            <hr>
            <div class="media">
              <div class="media-content">
                <p class="subtitle is-6"><%if @is_interviewee%>My feedback to help them<%else%>Their feedback to help me<%end%> get better!</p>
              </div>
            </div>
            <div class="content" style="font-family: 'Courier New', Courier, monospace;">
              <%= @past_interview.feedback_interviewer %>
            </div>
          </div>
        </div>

      </div>
    </div>
  
  </div>
</section>

<script type="text/javascript">
function toggleByMe() {
  $("#by_me_tab").attr('class', 'is-active');
  $("#for_me_tab").attr('class', '');
  $("#by_me").css('display', 'block');
  $("#for_me").css('display', 'none');
}

function toggleForMe() {
  $("#by_me_tab").attr('class', '');
  $("#for_me_tab").attr('class', 'is-active');
  $("#by_me").css('display', 'none');
  $("#for_me").css('display', 'block');
}

</script>