<% title = "Codeology | Interview Feedback With " + @other_user.name %>
<% provide(:title, title) %>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 l10 offset-l1">
        <h3 class="small-vertical-padding has-text-centered">Interviewed <%if @is_interviewee%>by <%else%><%end%> <%= @other_user.name %></h3>
        <h5 class="subtitle is-4   has-text-centered">
          Language: <% if @past_interview.is_python %>Python<% else %>Java<% end %><br>
          Location: <% if @past_interview.is_videocall %>Videocall<% else %>On Campus<% end %>
        </h5>
      </div>

      <div class="col s12 l10 offset-l1">
        <ul class="tabs">
          <li id="for_me_tab" class="tab col s4 normal-caps"><a class="active waves-effect waves-green" href="#for_me">Feedback About Me</a></li>
          <li><%= link_to 'Update Feedback', edit_past_interview_path(@past_interview), class: "col tab s4 normal-caps waves-effect waves-green"%></li>
          <li id="by_me_tab" class="tab col s4 normal-caps"><a class="waves-effect waves-green" href="#by_me">Feedback By Me</a></li>
        </ul>
      </div>

      <div class="col s12 l10 offset-l1">

        <% if @is_interviewee %>
          <div class="card" id="for_me">
        <% else %>
          <div class="card" id="by_me">
        <% end %>
          <div class="card-content">
            <span class="card-title is-size-5">How were <%if @is_interviewee%>my<%else%>their<%end%> technical skills?</span>
              <% @past_interview.technical_score.times do %>
                <i class="material-icons">grade</i>
              <% end %>
            <hr>
            <span class="card-title is-size-5">How was <%if @is_interviewee%>my<%else%>their<%end%> problem solving ability?</span>
              <% @past_interview.problem_solving_score.times do %>
                <i class="material-icons">grade</i>
              <% end %>
            <hr>
            <span class="card-title is-size-5">What about <%if @is_interviewee%>my<%else%>their<%end%> communication ability?</span>
              <% @past_interview.communication_score.times do %>
                <i class="material-icons">grade</i>
              <% end %>
            <hr>
            <span class="card-title is-size-5"><%if @is_interviewee%>Their feedback to help me<%else%>My feedback to help them<%end%> get better!</span>
            <div style="font-family: 'Courier New', Courier, monospace;">
              <%= @past_interview.feedback_interviewee %>
            </div>
          </div>
        </div>
        
        <% if @is_interviewee %>
          <div class="card" id="by_me">
        <% else %>
          <div class="card" id="for_me">
        <% end %>
          <div class="card-content">
            <span class="card-title is-size-5">How excited would <%if @is_interviewee%>I be to work with them<%else%>they be to work with me<%end%>?</span>
              <% @past_interview.excitement_score.times do %>
                  <i class="material-icons">grade</i>
              <% end %>
            <hr>
            <span class="card-title is-size-5">How good were <%if @is_interviewee%>their<%else%>my<%end%> questions?</span>
              <% @past_interview.question_score.times do %>
                <i class="material-icons">grade</i>
              <% end %>
            <hr>
            <span class="card-title is-size-5">How helpful  <%if @is_interviewee%>where they<%else%>was I<%end%> 
            in guiding <%if @is_interviewee%>me<%else%>them<%end%> to the solution(s)?</span>
              <% @past_interview.helpfulness_score.times do %>
                <i class="material-icons">grade</i>
              <% end %>
            <hr>
            <span class="card-title is-size-5"><%if @is_interviewee%>My feedback to help them<%else%>Their feedback to help me<%end%> get better!</span>
            <div style="font-family: 'Courier New', Courier, monospace;">
              <%= @past_interview.feedback_interviewer %>
            </div>
          </div>
        </div>

      </div>
    </div>
  
  </div>
</section>

<script type="text/javascript">
$('.tabs').tabs();
</script>