<% title = "Codeology | " + @user.name %>
<% provide(:title, title) %>

<p id="notice"><%= notice %></p>

<section id="profile">
  <div class="row has-text-centered">
    <div class="col s6 offset-s3">
      <h3 class="extra-top-padding">
          <strong>Name:</strong>
          <%= @user.name %>
      </h3>

      <h4>      
            <strong>Email:</strong>
            <%= @user.email %>
      </h4>
      <%= link_to 'Edit', edit_user_path(@user), class: "btn is-round waves-effect waves-teal normal-caps white grey-text text-darken-4" %>
    </div>
  </div>
</section>


