<% provide(:title, "Codeology | Resend Activation Link") %>

<section class="is-fullheight">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <h2 class="is-size-2 is-size-3-mobile extra-top-padding">Resend Activation Link</h2>

      <%= form_for(:account_activations, url: account_activations_path) do |f| %>
        <div class="input-field">
          <i class="material-icons prefix">mail_outline</i>
            <%= f.email_field :email, class: 'input is-rounded' %>
            <label for="account_activations_email">email</label>          
        </div>
        
        <%= f.submit "Submit", class: "btn white black-text is-round normal-caps", style: "margin-top: 10px;"%> 
        <p class="signup-link">New user? <%= link_to "Sign up now!", signup_path %></p>
      <% end %>

    </div>
  </div>
</section>