/* ============================ */
/* BULMA TEXT SIZES
/* ============================ */

.is-size-1 {
    font-size: 3rem !important;
  }
  
  .is-size-2 {
    font-size: 2.5rem !important;
  }
  
  .is-size-3 {
    font-size: 2rem !important;
  }
  
  .is-size-4 {
    font-size: 1.5rem !important;
  }
  
  .is-size-5 {
    font-size: 1.25rem !important;
  }
  
  .is-size-6 {
    font-size: 1rem !important;
  }
  
  .is-size-7 {
    font-size: 0.75rem !important;
  }
  
  @media screen and (max-width: 768px) {
    .is-size-1-mobile {
      font-size: 3rem !important;
    }
    .is-size-2-mobile {
      font-size: 2.5rem !important;
    }
    .is-size-3-mobile {
      font-size: 2rem !important;
    }
    .is-size-4-mobile {
      font-size: 1.5rem !important;
    }
    .is-size-5-mobile {
      font-size: 1.25rem !important;
    }
    .is-size-6-mobile {
      font-size: 1rem !important;
    }
    .is-size-7-mobile {
      font-size: 0.75rem !important;
    }
  }
  
  @media screen and (min-width: 769px), print {
    .is-size-1-tablet {
      font-size: 3rem !important;
    }
    .is-size-2-tablet {
      font-size: 2.5rem !important;
    }
    .is-size-3-tablet {
      font-size: 2rem !important;
    }
    .is-size-4-tablet {
      font-size: 1.5rem !important;
    }
    .is-size-5-tablet {
      font-size: 1.25rem !important;
    }
    .is-size-6-tablet {
      font-size: 1rem !important;
    }
    .is-size-7-tablet {
      font-size: 0.75rem !important;
    }
  }
  
  @media screen and (max-width: 1087px) {
    .is-size-1-touch {
      font-size: 3rem !important;
    }
    .is-size-2-touch {
      font-size: 2.5rem !important;
    }
    .is-size-3-touch {
      font-size: 2rem !important;
    }
    .is-size-4-touch {
      font-size: 1.5rem !important;
    }
    .is-size-5-touch {
      font-size: 1.25rem !important;
    }
    .is-size-6-touch {
      font-size: 1rem !important;
    }
    .is-size-7-touch {
      font-size: 0.75rem !important;
    }
  }
  
  @media screen and (min-width: 1088px) {
    .is-size-1-desktop {
      font-size: 3rem !important;
    }
    .is-size-2-desktop {
      font-size: 2.5rem !important;
    }
    .is-size-3-desktop {
      font-size: 2rem !important;
    }
    .is-size-4-desktop {
      font-size: 1.5rem !important;
    }
    .is-size-5-desktop {
      font-size: 1.25rem !important;
    }
    .is-size-6-desktop {
      font-size: 1rem !important;
    }
    .is-size-7-desktop {
      font-size: 0.75rem !important;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .is-size-1-widescreen {
      font-size: 3rem !important;
    }
    .is-size-2-widescreen {
      font-size: 2.5rem !important;
    }
    .is-size-3-widescreen {
      font-size: 2rem !important;
    }
    .is-size-4-widescreen {
      font-size: 1.5rem !important;
    }
    .is-size-5-widescreen {
      font-size: 1.25rem !important;
    }
    .is-size-6-widescreen {
      font-size: 1rem !important;
    }
    .is-size-7-widescreen {
      font-size: 0.75rem !important;
    }
  }
  
  @media screen and (min-width: 1472px) {
    .is-size-1-fullhd {
      font-size: 3rem !important;
    }
    .is-size-2-fullhd {
      font-size: 2.5rem !important;
    }
    .is-size-3-fullhd {
      font-size: 2rem !important;
    }
    .is-size-4-fullhd {
      font-size: 1.5rem !important;
    }
    .is-size-5-fullhd {
      font-size: 1.25rem !important;
    }
    .is-size-6-fullhd {
      font-size: 1rem !important;
    }
    .is-size-7-fullhd {
      font-size: 0.75rem !important;
    }
  }