// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/w3images/mac.jpg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}

#movers-row {
    margin: -110px 0 0 120px;
}
#movers-row div {
    width: 30.3%;
    float: left;
}
#movers-row div img {
    float: right;
}
