// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Full height image header */
.quarter {
  float:left;
  width: 100%
}

.center {
    text-align: center;
}

.row-padding {
  border-collapse: separate;
  border-spacing: 10px 20px;
}

.large {
  font-size:18px
}

.margin-bottom {
  margin-bottom: 16px
}

.column {
    column-count: 3;
}

.card-2 {
  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.button {
  white-space: normal;
  color: 	#D3D3D3;
}

.block {
  display: block;
  width: 100%;
}

.box {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

#movers-row {
    margin: -250px 0 0 120px;
}
#movers-row div {
    width: 30.3%;
    float: left;
}
#movers-row div img {
    float: right;
}

/* ============================= */
/* ============================= */

body {
  background-color: #fce9fc;
}

.rectangle1 {
    width:100%;
    height:690px;
    background:blue;
}

.card, .card-2 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.jumbo {
  font-size: 64px
}

.button {
  border:none;
  display:inline-block;
  outline:0;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}

.block {
  display: block;
  width: 100%;
}

.light-gray {
  color:#000;
  background-color:#f1f1f1;
}

.margin-bottom {
  margin-bottom:16px;
}

/* Cover Image */
.coverpage {
  background-image: url("/banner.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 620px
}

.col {
  float: left;
  width: 100%;
}

.col.m6, .half {
  width: 49.99999%;
}

.col.l3 {
  width: 24.99999%;
}

.large-font {
  font-size: 14px;
  font-weight: bold;
}

/* Welcome to Codeology Message */
.welcome-message {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 300%;
}

/* Quick Description */
.top-paragraph {
  padding: 70px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 200%;
}

/* Team Member Animation */
.team-members {
  margin-bottom: 100px;
  padding-left: 70px;
}
  figure {
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s ease-in-out;

    &.is-showing {
      opacity: 1;
      transform: translateX(0px);
    }
  }
