// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.

/* TODO: all font sizes need to be calibrated with each other */

/* ============================ */
/* Styles used throughout page
/* ============================ */
$codeology-yellow: #EEBF44;
$codeology-green: #50D397;
$codeology-blue: #69EAE3;

*{
  font-family: 'Karla', 'Times New Roman';
}

.small-caps {
  font-variant: small-caps;
}

.sub-header {
  color: #373F46;
  text-align: center;
  margin-bottom: 2.5vh;
}

/* ============================ */
/* NAVBAR
/* ============================ */

/* TODO: navbar is still hard coded */
.nav {
    background-color: #ffffff;
    box-shadow: 10px 5px 40px rgba(16, 16, 16, 0.25);
    height: 72px;
    font-size: 2em;
    letter-spacing: 0.0625em;
}

/* ============================ */
/* LANDING
/* ============================ */

.landing {
  background-image: asset-url("codeology_cover.jpg");
  background-attachment: fixed;
  background-position: center top;

  background-size: cover;
  background-repeat: no-repeat;
}

#landing-content {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}

.landing-title {
  font-weight: bold;
  color: white;
  font-size: 9vw;
  margin-top: 10vh;

}

.landing-blurb {
    color: white;
    text-align: center;
    max-width: 60%;
    font-size: 1.2vw;
    line-height: 150%;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

.landing-button {
    color: white;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 0.8em 1.8em;
    border-width: 0.1em;
    font-size: 1vw;
    margin-bottom: 10vh;

  &:visited {
    color: white;
    text-decoration: none;
  }

  &:hover {
    opacity:0.95;
    border-color: white;
    color: gray;
    background-color: white;
    text-decoration: none;
  }
}

.landing-button-text {
  color: white;
}

/* ============================ */
/* INTRODUCTION
/* ============================ */

#about-us {
  margin-top: 5vh;
  margin-bottom: 2.5vh;
}

#intro-section {
  margin-left: 5vw;
  margin-right: 5vw;

}

.intro-header {
  font-size: 2vw;
}

.intro-blurb {
  font-size: 1.1vw;
}

.intro-interviewprep {
  color: $codeology-yellow;
}

.intro-workshops {
  color: $codeology-green;
}

.intro-social {
  color: $codeology-blue;
}


/* ============================ */
/* VALUES
/* ============================ */

#values {
  margin-top: 2.5vh;
  margin-bottom: 5vh;
}

.value-description {
  font-size: 0.9vw;
  font-weight: 100;
  letter-spacing: 0.0625em;
  text-align: center;
}

/* TODO: Make nodes responsive - still hardcoded (too large compared to everything else when resizing window) */

/* Gives circle radius */
.circle {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  border: 8px solid #373F46;
}

.center-div {
   margin: auto;
   max-width: 350px;
}

/* Creates line coming out of right side of circle */
.middle-line-right{
    position: relative;
}

.middle-line-right:after{
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: #373F46;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}

/* Creates line coming out of left side of circle */
.middle-line-left{
    position: relative;
}

.middle-line-left:before{
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: #373F46;
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: -1;
}

/* Creates line coming out of both sides of circle */
.middle-line-both{
    position: relative;
}

.middle-line-both:after{
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: #373F46;
  position: absolute;
  top: 50%;
  z-index: -1;
}

/* Space between circles and texts */
.values-spacing {
  margin-top: 1.7vh;
}

.values-header {
  font-size: 2vw;
  margin-top: 1.7vh;
  padding-bottom: 1.7vh;
  text-align: center;
}

#mentorship-circle-color {
  background-color: $codeology-yellow;
}

.mentorship {
  color: $codeology-yellow;
}

#education-circle-color {
  background-color: $codeology-green;
}

.education {
  color: $codeology-green;
}

#community-circle-color {
  background-color: $codeology-blue;
}

.community {
  color: $codeology-blue;
}

/* ============================ */
/* LEADERSHIP SECTION
/* ============================ */

/* TODO - use media queries to make only 1 member show up on the screen when on mobile view*/
#team-section {
  margin-bottom: 2.5vh;
}

.franklin-img {
  height:65%;
  width: 65%;
  display: block;
  margin: auto;
}

.edward-img {
  height: 70%;
  width: 70%;
  display: block;
  margin: auto;
}

.nikita-img {
  height:70%;
  width: 70%;
  display: block;
  margin: auto;
}

.catherine-img {
  height: 66%;
  width: 66%;
  display: block;
  margin: auto;
}

.albert-img  {
  height: 67%;
  width: 67%;
  display: block;
  margin: auto;
}

.tracy-img {
  height: 90%;
  width: 90%;
  display: block;
  margin: auto;
}

.tim-img {
  height: 67%;
  width: 67%;
  display: block;
  margin: auto;
}

/* ============================ */
/* MOBILE MEDIA QUERIES
/* ============================ */
/* Portrait phones and smaller */
@media (max-width: 480px) {
   .landing {
     background-size: 480px Auto;
   }
}
