// Place all the styles related to the webapp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ============================ */
/* Styles used throughout page
/* ============================ */
$codeology-yellow: #F4C484;
$codeology-green: #7AC377;
$codeology-blue: #92D5E6;

.is-codeology-yellow{
  color: $codeology-yellow;
}

.is-codeology-green{
  color: $codeology-green;
}

.is-codeology-blue{
  color: $codeology-blue;
}

.custom-button.is-success.is-outlined.is-rounded.button{
  border-color: $codeology-green;
  color: $codeology-green;
  transition: .25s;
}

.custom-button.is-success.is-outlined.is-rounded.button:hover{
  background-color: $codeology-green;
  border-color: $codeology-green;
  color: white;
}

.button.is-rounded.is-danger.is-outlined.custom-button{
  transition: .25s
}

/* ============================ */
/* Side bar styling
/* ============================ */

.dropdown-item.custom{
  height: 10vh;
}

.sideNav {
  height: 100%;
  min-width : 200px;
  max-width : 250px;
  width: 20vw;
  position: fixed;
  background-color: rgb(231, 231, 231); 
  transition: 0.25s;
  z-index: 2;
  box-shadow: 0px 0px 4px 1px #888888; 
}


.panel-block.sideNav-custom {
  border: 0px;
  height: calc((100vh - 125px)/8);
  transition: 0.2s;
  color: rgb(34, 34, 34) !important;
}

.panel-block.sideNav-custom:hover {
  color: black !important;
  box-shadow: -1px 0px 4px 2px #777777; 
  font-weight: bold;
}

.custom-icon {
  display: inline-block;
  font-size: 18px;
  height: 1em;
  line-height: 1em;
  text-align: center;
  vertical-align: top;
  width: 1em;
  margin-right: 0.75em;
}

.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

.panel-heading.sideNav-custom {
  border: 0px;
  background-color: $codeology-green;
  border-radius: 0px;
}

.image.sideNav-custom {
  display: inline-block;
}

.button.sideNav-toggle {
  position: fixed;
  transition: 0.2s;
  border: 0px;
  border-radius: 0px;
  z-index: 1;
}

.button.sideNav-toggle:hover {
  background-color: $codeology-yellow;
}