// Place all the styles related to the webapp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ============================ */
/* Styles used throughout page
/* ============================ */
$codeology-yellow: #F4C484;
$codeology-green: #7AC377;
$codeology-blue: #92D5E6;

.is-codeology-yellow{
  color: $codeology-yellow;
}

.is-codeology-green{
  color: $codeology-green;
}

.is-codeology-blue{
  color: $codeology-blue;
}

/* ============================ */
/* Side bar styling
/* ============================ */

.sideNav {
  height: 100%;
  min-width : 200px;
  width: 20vw;
  position: fixed;
  background-color: #333333; 
  transition: 0.25s;
  z-index: 2;
}

.sideNav-margin {
  margin-left: 20vw;
}


.panel-block.sideNav-custom {
  border: 0px;
  height: calc((100vh - 200px)/7);
  transition: 0.2s;
}

.panel-block.sideNav-custom:hover {
  background-color: $codeology-blue;
  color: black !important;
  box-shadow: 1px 0px 16px 2px #222222; 
  font-weight: bold;
}

.custom-icon {
  display: inline-block;
    font-size: 18px;
    height: 1em;
    line-height: 1em;
    text-align: center;
    vertical-align: top;
    width: 1em;
    margin-right: 0.75em;
}

.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

.panel-heading.sideNav-custom {
  border: 0px;
  background-color: $codeology-green;
  border-radius: 0px;
}

.image.sideNav-custom {
  display: inline-block;
}

.button.sideNav-toggle {
  position: fixed;
  transition: 0.2s;
  border: 0px;
  border-radius: 0px;
  z-index: 1;
}

.button.sideNav-toggle:hover {
  background-color: $codeology-yellow;
}