<section class="section">
  <div class="container is-fluid has-text-centered">
      
    <h1 class="title is-2 has-text-black small-vertical-padding">Available Interviews</h1>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @allAvailabilitys.each do |availability| %>
          <tr>
          <!-- TODO parse date and time for 1st and 2nd respectively -->
            <td class="is-size-6 is-size-7-mobile"><%= availability.time.localtime.strftime("%m/%d/%y") %></td>
            <td class="is-size-6 is-size-7-mobile"><%= availability.time.localtime.strftime("%I:%M %p") %></td>
            <td>
              <%= link_to 'Book', availability, method: :patch, data: { confirm: 'You are about to book for: ' + 
              availability.time.localtime.strftime("%m/%d/%y") + " " + availability.time.localtime.strftime("%I:%M %p") }, 
              class: "button is-rounded is-success is-outlined custom-button" %>
            </td>
            <!--<td><a class = "button is-rounded is-success is-outlined custom-button"> Book </a></td>-->
            <% if is_admin? %>  
              <td><%= link_to 'Delete', availability, method: :delete, data: { confirm: 'Are you sure? This CANNOT be undone' }, class: "button is-rounded is-danger is-outlined custom-button" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</section>