<section class="section">
  <div class="container is-fluid">
      
    <h1 class="title is-2 has-text-black small-vertical-padding has-text-centered">New Availability</h1>
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_tag("/availabilities", method: "post") do %>
          
          <div class="field">
            <p class="control has-icons-left">
              <input type="text" data-toggle="datepicker" class="input is-rounded" name="availability[date]" placeholder="Pick a date">      
              <span class="icon is-small is-left">
                <i class="fa fa-lg fa-calendar"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control has-icons-left">
              <input type="time" id="availability_time" name="availability[time]" class="input is-rounded">
              <span class="icon is-small is-left">
                <i class="fa fa-lg fa-clock-o"></i>
              </span>
            </p>
          </div>

          <input type="submit" name="commit" value="Submit" class="button is-rounded" style="margin-top: 10px;" data-disable-with="Submit">
        
        <% end %>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  let tomorrow = new Date();
  tomorrow.setDate(tomorrow.getDate()+1);

  $('[data-toggle="datepicker"]').datepicker({
    autoHide: true,
    startDate: tomorrow,
    endDate: new Date(2019, 0, 0), 

  });
</script>