<% provide(:title, "Codeology | My Availability") %>

<section class="section">
  <div class="container">
    
    <h3 class="small-vertical-padding has-text-centered">Your Availability</h3>
    
    <article id="msg" class=" message is-codeology-green">
      <div class="message-body is-codeology-green grey-text text-darken-4"> 
        <a onclick="closeMessage()" class="delete" style="cursor:pointer; float:right;"><i class="material-icons">close</i></a>
        We appreciate you for taking the time to give interviews! Interviewing helps both interviewer and interviewee: the interviewer
        crystallizes their knowledge by providing it to their peer while the interviewee receives much needed practice.
        As such, you are playing an important part in a well-functioning Codeology. Thank you!
        <br><br>
        Tips: Prepare questions of varying difficulty to match interviewee needs, understand solutions in multiple languages, and be smart together! :)
        <br><br>
        Note: The system assumes Interviews to be an hour long
      </div>
    </article>
    <p class="small-bottom-padding"></p>

    <div class="small-bottom-padding has-text-centered tooltipped" data-position="top" data-tooltip="Yaaaas">
      <%= link_to_nav_item "Add Availability", new_availability_path, 
      :class => "btn is-round waves-effect waves-light normal-caps white-text background-is-codeology-green" %>
    </div>
    <table class="responsive-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Language</th>
          <th>Location</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @userAvailabilitys.each do |availability| %>
          <tr>
          <!-- TODO parse date and time for 1st and 2nd respectively -->
            <td class="is-size-6 is-size-7-mobile"><%= availability.time.localtime.strftime("%m/%d/%y") %></td>
            <td class="is-size-6 is-size-7-mobile"><%= availability.time.localtime.strftime("%I:%M %p") %></td>
            <td class="is-size-6 is-size-7-mobile"><% if availability.is_python %>Python<% else %>Java<% end %></td>
            <td class="is-size-6 is-size-7-mobile"><% if availability.is_videocall %>Videocall<% else %>On Campus<% end %></td>
            <td class="centered-column"><%= link_to 'Delete', availability, method: :delete, data: { confirm: 'Are you sure? This CANNOT be undone'},  
            class: "btn is-round waves-effect waves-light normal-caps red lighten-1 white-text" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</section>

<script type="text/javascript">
  $('.tooltipped').tooltip();

  function closeMessage() {
    $("#msg").css('display', 'none');
  }
</script> 