<% if @user.errors.any? %>
  <div class="notification is-danger">
    <ul class="collection">
    <li class="collection-items">The form contains <%= pluralize(@user.errors.count, "error") %>.</li>
    <% @user.errors.full_messages.each do |msg| %>
      <li class="collection-items"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>