<nav class="panel">

  <div class="panel-heading sideNav-custom has-text-centered">
    <figure class="image is-128x128 sideNav-custom">
      <%= image_tag("default_profile_pic.jpg", alt: "default profile picture", class: "is-rounded")  %>
    </figure>
    <p class="subtitle is-5">First Last</p>
  </div>

  <a class="panel-block sideNav-custom has-text-grey-lighter">
    <span class="custom-icon">
      <i class="fa fa-terminal"></i>
    </span>
    Get Interviewed
  </a>

  <a class="panel-block sideNav-custom has-text-grey-lighter">
    <span class="custom-icon">
      <i class="fa fa-comments-o"></i>
    </span>
    Interview Others
  </a>

  <a class="panel-block sideNav-custom has-text-grey-lighter">
    <span class="custom-icon">
      <i class="fa fa-calendar"></i>
    </span>
    Upcoming
  </a>

  <a class="panel-block sideNav-custom has-text-grey-lighter">
    <span class="custom-icon">
      <i class="fa fa-bar-chart"></i>
    </span>
    Completed
  </a>

  <a class="panel-block sideNav-custom has-text-grey-lighter">
    <span class="custom-icon">
      <i class="fa fa-address-book-o"></i>
    </span>
    Member Directory
  </a>

  <a href="/" class="panel-block sideNav-custom has-text-grey-lighter">
    <span class="custom-icon">
      <i class="fa fa-angle-double-left"></i>
    </span>
    Back to Website
  </a>

  <a href="/logout" class="panel-block sideNav-custom has-text-grey-lighter">
    <span class="custom-icon">
      <i class="fa fa-sign-out"></i>
    </span>
    Log Out
  </a>

</nav>
