<nav class="panel">
  <div class="panel-heading has-text-centered sideNav-custom">
    <figure class="image is-128x128 sideNav-custom">
      <%= image_tag("default_profile_pic.jpg", alt: "default profile picture", class: "is-rounded")  %>
    </figure>
    Username
  </div>
  
  <a class="panel-block sideNav-custom has-text-grey-lighter">
    <span class="panel-icon has-text-grey-lighter">
      <i class="fa fa-code" aria-hidden="true"></i>
    </span>
    Get Interviewed
  </a>

  <a class="panel-block sideNav-custom has-text-grey-lighter">
    <span class="panel-icon has-text-grey-lighter">
      <i class="fa fa-comments-o" aria-hidden="true"></i>
    </span>
    Interview Others
  </a>

  <a class="panel-block sideNav-custom has-text-grey-lighter">
    <span class="panel-icon has-text-grey-lighter">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </span>
    Upcoming
  </a>

  <a class="panel-block sideNav-custom has-text-grey-lighter">
    <span class="panel-icon has-text-grey-lighter">
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
    </span>
    Completed
  </a>

  <a class="panel-block sideNav-custom has-text-grey-lighter">
    <span class="panel-icon has-text-grey-lighter">
      <i class="fa fa-address-book-o" aria-hidden="true"></i>
    </span>
    User Directory
  </a>

</nav>
